

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box
}
body{
  font-family: "Montserrat",sans-serif;
  background-color: rgb(244, 244, 244);
  
}
.active{
  background: green;
  padding: 0.2rem;
  color: wheat;
  font-weight: 700;
  border-radius:0.3rem;
  transition: all 0.5s ease-out;
}
.btn-active{
  background-color: green;
}